@tailwind base;
@tailwind components;
@tailwind utilities;


.avatar-skeleton {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #3f3e3e;
}

.title-skeleton,
.text-skeleton {
  border-radius: 5%;
}

.title-skeleton {
  max-width: 180px;
  width: 100%;
  height: 24px;
  background-color: #3f3e3e;
}

.text-skeleton {
  height: 16px;
}

.profile.skeleton,
.title-skeleton {
  margin-block: 24px;
}

.profile.skeleton .text-skeleton {
  margin-block-start: 12px;

}

.profile.skeleton .text-1 {
  width: 55%;
}

.profile.skeleton .text-3 {
  width: 70%;
}

.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent,
      rgba(255, 255, 255, 0.2), transparent);
  animation: skeleton-loading 1.5s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(200%)
  }
}

.icons-size {
  font-size: 18px !important;
}

.contentBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;

}

.repo-card {
  max-height: 400px;
}

@media (max-width: 768px) {
  .icons-size {
    font-size: 12px !important;
  }
}